<html>

<head>
	<title>MIR24 photobank</title>
  <link href="/static/styles.css" rel="stylesheet" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div id='root'>
	</div>
	<div id="config" class="hidden">
		<span id="elasticHost"><%= elasticHost %></span>
		<span id="photobankBackendHost"><%= photobankBackendHost %></span>
		<span id="photobankBackendHostApi"><%= photobankBackendHostApi %></span>
		<span id="photobankBackendUser"><%= photobankBackendUser %></span>
		<span id="photobankBackendUserApiKey"><%= photobankBackendUserApiKey %></span>
	</div>
	<span class="gitInfo"><%= gitInfo %></span>
	<script src="/static/bundle.js"></script>

</body>

</html>
